.App {
  font-family: Lato;
}

.reddish {
  background-color: rgb(206, 61, 121);
}

.reddish-button {
  background-color: rgb(206, 61, 121);
  color: white;
}

.marine {
  background-color: #3DA4CE;
}

.marine-text {
  color: #3DA4CE;
}


.black {
  background-color: black;
}

.kab-icon {
  width: 40%;
  height: auto;
}

.logo-text {
  color: white;
  margin: 0;
  font-weight: 200;
  font-size: 1.4rem;
  padding-right: 80px;
}

.profile-welcome {
  color: black;

}

.showcase-img1 {
  background-image: url("./images/photo-1527738697320-513f6648bc26.jpeg");
}

.showcase-img2 {
  background-image: url("./images/photo-1563456019498-843e11bdaae0.jpeg");
}

.showcase-img3 {
  background-image: url("./images/photo-1564062743661-02fd1d881da7.jpeg");
}